/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

body {
    background-color: aquamarine;
}

.body-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 50px;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 80px;
    padding: 50px;
    max-width: 380px;
    text-align: center;
    border-radius: 2px;
    -webkit-animation: show 1s;
    animation: show 1s;
}

label {
    display: block;
    color: rgb(16, 139, 108);
    font-size: 24px;
    font-weight: bold;
    line-height: 1em;
}

label:focus,
label:active {
    outline: turquoise;
}

input {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 0;
    width: 100px;
    height: 60px;
    text-align: center;
    border: 2px solid rgb(16, 139, 109);
    /* box-shadow: 5px 10px 20px 3px rgba(80, 161, 134, 0.171); */
    border-radius: 2px;
    background-color: aquamarine;
}

.timer {
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 100px;
    height: 60px;
    text-align: center;
    font-size: 60px;
    line-height: 1em;
    color: rgb(36, 46, 66);
    border: 2px solid rgb(16, 139, 109);
    border-radius: 2px;
    background-color: white;
}

.field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 30px;
    row-gap: 10px;
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    list-style: none;
}

.card {
    position: relative;
    height: 100px;
    width: 80px;
    border-radius: 2px;
    -webkit-box-shadow: 5px 10px 20px 3px rgba(80, 161, 134, 0.308);
    box-shadow: 5px 10px 20px 3px rgba(80, 161, 134, 0.308);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform 1s;
    transition: -webkit-transform 1s;
    -o-transition: transform 1s;
    transition: transform 1s;
    transition: transform 1s, -webkit-transform 1s;
    cursor: pointer;
}

.card_small {
    height: 50px;
    width: 30px;
}

.flip {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.front {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 139, 109);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 60px;
    color: rgb(36, 46, 66);
    background-color: rgb(227, 255, 127);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.back-font-small {
    font-size: 25px;
}

.button,
.button-form {
    display: none;
    padding: 15px 30px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    color: white;
    font-size: 30px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    background-color: rgb(16, 139, 109);
    -webkit-box-shadow: 5px 10px 20px 3px rgba(95, 158, 160, 0.363);
    box-shadow: 5px 10px 20px 3px rgba(95, 158, 160, 0.363);
    -webkit-transition-property: background-color;
    -o-transition-property: background-color;
    transition-property: background-color;
    -webkit-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
    /* transition-timing-function: ease-in-out; */
    cursor: pointer;
}

.button:hover,
.button-form:hover {
    background-color: rgb(56, 201, 164);
    -webkit-transform: translateY(2px);
    -ms-transform: translateY(2px);
    transform: translateY(2px);
}

.button:active,
.button-form:active {
    background-color: rgb(7, 122, 93);
}

.button_animation {
    display: block;
    -webkit-animation: show 1s;
    animation: show 1s;
}

.button-form {
    display: block;
}

.form_invisible {
    display: none;
}

.timer_invisible {
    display: none;
}

@-webkit-keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}